/*Mobile*/
@media only screen and (max-width: 600px) {
    body {
        background-attachment: fixed;
        background-size: cover;
        font-size: 16px;
    }
    .grid-container {
        display: grid;
        grid-template-columns: 60px 1fr 1fr 1fr 60px;
        grid-template-rows: 60px 1fr 4fr 60px;
    }
    .box {
        display: block;
        border-radius: 50px;
        font-size: 100%;
    }
    .nav {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .header {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .item1 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .item1 img {
        margin-left: 100px;
        margin-right: 100px;
    }
    .item1 p {
        text-align: center;
    }
    .footer {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 4;
        grid-row-end: 5;
        color: white;
        background-color: #ff6200;
        text-align: center;
        height: 50px;
    }
}
/*Tablet*/
@media only screen and (min-width: 601px) {
    body {
        background-attachment: fixed;
        background-size: cover;
    }
    .grid-container {
        display: grid;
        grid-template-columns: 60px 1fr 1fr 1fr 60px;
        grid-template-rows: 60px 1fr 4fr 60px;
    }
    .box {
        display: block;
        border-radius: 5px;
        font-size: 100%;
    }
    .nav {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .header {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .item1 {
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .item1 img {
        position: relative;
        left: 140px;
    }
    .footer {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 4;
        grid-row-end:  5;
        background-color: #ff6200;
        text-align: center;
        height: 30px;
    }
}
/*Desktop*/
@media only screen and (min-width: 786px) {
    body {
        background-attachment: fixed;
        background-size: cover;
    }
    .grid-container {
        display: grid;
        grid-template-columns: 60px 3fr 60px;
        grid-template-rows: 60px 2fr 500px 1fr 1fr;
    }
    .box {
        display: block;
        border-radius: 5px;
        font-size: 100%;
    }
    .nav {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .header {
        top: 50px;
        height: 100px;
        width: 1900px;
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .item1 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .item1 img {
        display: relative;
        left: 0px;
        width: 500px;
        height: 300px;
    }
    .footer {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 5;
        grid-row-end: 6;
        color: white;
        background-color: #ff6200;
        text-align: center;
    }
}