/* Imported Fonts */

@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');
@font-face {
  font-family: 'Frozen';
  src:
    url('fonts/Frozito.ttf') format('truetype');
}
@font-face {
  font-family: 'Portfolio';
  src:
    url('fonts/Courgette-Regular.ttf') format('truetype');
}

/*HTML*/
html {
  font-family: 'Frozen';
}

/* H1, H2, H3, H4 */
h1, h2, h3, h4 {
  color: white;
}

/* Header */
header {
  color: white;
}

/* Body */
body {
  background-attachment: fixed;
  background-repeat: repeat-x;
  background-image: url("../images/background.png");
  font-family: 'Frozen';
}

/* Paragraph */
p {
  color: rgb(0, 225, 255);
}

/* Footer */
footer {
  color: white;
  background-color: #ff6200;
  text-align: center;
  top: 150px;
}

/*Marquee*/
.marquee {	
  height: 100px;
  overflow: hidden;
  position: relative;
  color: blue;
  font-size: 30px;
  margin-top: 0.1%;
}
.marquee p {
  position: absolute;
  width: 100%;
  margin: 0;
  line-height: 10px;
  text-align: center;
  /* Starting position */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);	
  transform: translateX(100%);
  /* Apply animation to this element */	
  -moz-animation: scroll-left 5s linear infinite;
  -webkit-animation: scroll-left 5s linear infinite;
  animation: scroll-left 5s linear infinite;
}

/* a Tags */
a:hover {
  text-decoration: none;
}
a:link {
  color: lightblue;
}
a:visited {
  color: white;
}

/* List*/
ul {
    list-style: none;
}
li::before {
  content: "•"; 
  color: white;
}

li::before {
  content: "•"; 
  color: white;
  display: inline-block; width: 1em;
  margin-left: -1em;
}
li {
  color: rgb(0, 225, 255);
}
/* Button */
button {
  background-color: #333;
  color: white;
}

/* .button {
  background-color: #4CAF50; //Green
  border: solid;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
} */

/* ID */
#p{
  font-size: 24px;
}

#resume-date {
  position: relative;
  top: -40px;
  right: -300px;
}
#resume-extracurricular {
  position: relative;
  top: -40px;
  right: -400px;
}


/* Nav Color */
.nav {
  left: 100%;
  margin-top: 1%;
}
.nav-color {
  background-color: #333 !important;
  color: white !important;
}

/* Form */
form {
  background-color:rgb(170, 170, 170);
  margin: 10px;
  padding: 10px;
  border-radius: 25px;
}
.form-text {
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: rgb(255, 50, 84) !important;
}


/* iFrame */
iframe {
  border-radius: 25px;
}
/* Dropdown */
.navbar {
  font-family: 'Portfolio';
  overflow: hidden;
  background-color: #333;
  align-content: center;
}
  
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
  
.navbar a:hover {
  background-color: #71797E;
  color: white;
  border-radius: 25px;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: transparent;
  padding: 20px;
}